.container{
    height: 100vh;
    color: var(--text-body);
}

header{
    background-color: var(--primary);
}

.container-menu{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#voltar{
    position: absolute;
    left: 15vw;
    cursor: pointer;
    transition: 0.3s;
}

#voltar:hover{
    scale: 1.06;
}

div h2{
    margin: 13px 0;
}

#title_page{
    color:white;
}

.box_capa{
    height: 150px;
    background-color: grey;
}

#capa{
    background-image: url(../../../assets/image/capa.jpg);
    background-size: 1550px;
    background-position: center center;
    height: 150px;
    width: 100%;
}

.container_perfil{
    display: grid;
    grid-template-columns: 1.5fr 3.5fr;
    background-color: var(--body);
}

.container_settings{
    display: grid;
    grid-template-areas: 'perfil perfil'
                         'pomodoro agenda';
   padding: 10px; 
}

.container_settings div{
    padding: 15px;
}

.perfil{grid-area: perfil;}
.pomodoro{grid-area: pomodoro;}
.agenda{grid-area: agenda;}

.box_perfil{
    position: relative;
    top: -70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-perfil{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: rgb(213, 213, 213);
    border: 5px solid  #007A78;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.405);
    margin-bottom: 1rem;
}

.box_settings{
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    border: 1px solid rgba(128, 128, 128, 0.338) ;
    border-radius: 8px;
    background-color: var(--background);
}

.button_settings{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    margin: 5px;
    transition: 0.1s;
    background-color: #e3e5e7;
    cursor: pointer;
}

.button_settings:hover{
    scale: 1.01;
    background-color: #dbdbdb;
}

.button_settings:active{
    background-color: #c8c8c8;
}
.button_settings img{
    width: 20px;
    margin: 8px;
}

@media(max-width: 830px){
    

    .container-menu{
        height: 140px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 61px;
    }

    .container-home{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 1;
    }

    #capa{
        background-image: url(../../../assets/image/capa.jpg);
        background-size: 1400px;
        background-position: center center;
        height: 150px;
        width: 100%;
    }

    .container_perfil{
        display: flex;
        flex-direction: column;
    }

    .container_settings{
        position: relative;
        top: -80px;
    }
   
}

@media(max-width:615px){
    .container{
        height: 100%;
        background-color: white;
    }

    .container_settings{
        display: flex;
        flex-direction: column;
        flex:  wrap ;
        
    }

    .box_settings{
        display: grid;
        grid-template-columns: 1fr;
    }
}