
    <div class="container-menu" >
        <img src="../../../assets/image/menu-hamburguer-grey.png" alt="imagem-exit" id="exit" (click)="onMenu()">
        <div class="perfil">

            
            <div  [style.background-image]="'url(' + obj.fotoProfile + ')'" class="img-perfil" routerLink="/perfil" *ngIf="obj.fotoProfile; else Loading"></div>
            <ng-template #Loading>
                <app-loading width="90px"></app-loading>
            </ng-template>
            <h3>{{ obj.name }}</h3>
        </div>
        <div class="container-buttons">
            <button [routerLink]="'estudar'" routerLinkActive="active"
            (click)="onChangePage()"
             [routerLinkActiveOptions]="{exact:true}"> <img src="../../../assets/image/chapeu.svg" alt="icone">Estudar</button>
            <button [routerLink]="'agenda'" routerLinkActive="active"
            (click)="onChangePage()"
             [routerLinkActiveOptions]="{exact:true}"> <img src="../../../assets/image/calendar.svg" alt="icone">Agenda</button>
             <button [routerLink]="'notas'" routerLinkActive="active"
            (click)="onChangePage()"
             [routerLinkActiveOptions]="{exact:true}"> <img src="../../../../assets/image/task-list.svg" alt="icone">Notas</button>
        </div>
        <div *ngIf="routeActive === 'estudar'" class="constainer_illustration">
            <p>Modo foco ativado!</p>
            <img src="../../../assets/image/ilustrator-estudo.svg" alt="ilustrator" id="illustration">
        </div>
        <div class="constainer_illustration" *ngIf="routeActive === 'agenda'" >
            <p>Rotina Organizada</p>
            <img src="../../../assets/image/ilustrator-agenda.svg" alt="ilustrator" id="illustration">
        </div>
        <div class="constainer_illustration" *ngIf="routeActive === 'notas'" >
            <p>Anote tudo</p>
            <img src="../../../assets/image/ilustrator-notas.svg" alt="ilustrator" id="illustration">
        </div>
    </div>

