

@media (max-width: 830px){
    
    .container-menu{
        position: fixed;
        background-color: rgba(0, 0, 0, 0.888);
        width: 100vw;
        height: 94vh;
        box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.381);
        margin-right: 0;
        top: 60px;
        z-index: 9999;
        color: rgb(229, 229, 229);
        padding: 0;
    }

    .img-perfil{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: rgb(213, 213, 213);
        border: 5px solid  #007A78;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.405);
    }

    .perfil{
        background-color: #4B4B4B;
        width: 100%;
        padding: 10px;
        flex-direction: row;
        justify-content: flex-start;
        margin-bottom: 1rem;
    }

    .img-perfil{
        margin-left: 3rem;
        margin-bottom: 0;
    }

    h3{
        padding-left: 0.8rem;
    }

    .container-buttons{
        margin-top: 10px;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        color: white;
    }

    button{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #4b4b4b;
        color: white;
        padding: 10px;
        margin: 5px;
    }

    button img{
        align-self: start;
        filter: brightness(2.5);
    }

    .active{
        color: #4c7070;
        background-color: #d4f4f4;
        font-weight: 700;
    }   

    .active  img{
        filter: brightness(1);
    }   

    #exit{
        display: block;
        position: absolute;
        top: 31px;
        left: 25px;
        align-self: flex-start;
        width: 20px;
        height: 20px;
        filter: brightness(3);
    }

    .constainer_illustration{
        margin: 30px;
    }

    .constainer_illustration p{
        color: white;
        font-size: 14px;
    }
}