
    <div class="container-menu">
        <img src="../../../assets/image/menu-hamburguer-grey.png" alt="imagem-exit" id="exit" (click)="onMenu()">
        <div class="perfil">
            <img src="../../../assets/image/imagem-perfil.png" alt="image" class="img-perfil">
            <h3>{{ obj.name }}</h3>
        </div>
        <div class="container-buttons">
            <button [routerLink]="'estudar'" routerLinkActive="active"
            (click)="onChangePage()"
             [routerLinkActiveOptions]="{exact:true}"> <img src="../../../assets/image/chapeu.svg" alt="icone">Estudar</button>
            <button [routerLink]="'agenda'" routerLinkActive="active"
            (click)="onChangePage()"
             [routerLinkActiveOptions]="{exact:true}"> <img src="../../../assets/image/calendar.svg" alt="icone">Agenda</button>
        </div>
        <div *ngIf="routeActive === 'estudar'" class="constainer_illustration">
            <p>Foco nos Estudos!</p>
            <img src="../../../assets/image/ilustrator-estudo.svg" alt="ilustrator" id="illustration">
        </div>
        <div class="constainer_illustration" *ngIf="routeActive === 'agenda'" >
            <p>Rotina Organizada</p>
            <img src="../../../assets/image/ilustrator-agenda.svg" alt="ilustrator" id="illustration">
        </div>
    </div>

