<div class="container">
    <div class="area_campos">
        <div class="title">
            <h2>Entre na sua Conta</h2>
            <p>Otimize seu tempo ao absorver novos conhecimentos com o Study.</p>
        </div>
        <div class="box_inputs">
            <div>
                <h3>Email</h3>
                <div class="container_input"  [class.error]="!success">
                    <input type="text" [(ngModel)]="email" placeholder="Email">
                    <img src="../../../assets/image/email.png" alt="imagem-input" *ngIf="!email" >
                </div>
            </div>
            <div>
                <h3>Senha</h3>
                <div class="container_input" [class.error]="!success">
                    <input type="password" [(ngModel)]="password" placeholder="Senha">
                    <img src="../../../assets/image/lock.png" alt="imagem-input" *ngIf="!password" >
                </div>
                <p class="alertError" [class.alertError_active]="!success">Email ou senha invalidos!</p>
                <p (click)="recoverPassword(email)" class="recover_password">Recuperar senha</p>
            </div>
            
        </div>
        <div class="box_button">
            
            <button (click)="onSignIn(email, password)" >Entrar</button>
            <p>Ainda não possui conta? <a routerLink="/register">Crie agora!</a></p>
        </div>
    </div>
    <div class="area_image">
    </div>
</div>