
@media (max-width: 1100px){
    .container{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    }
    
    .area_campos{
        padding: 1rem;
    }

    .area_image{
        display: none;
    }
}
