.container{
    display: flex;
}

.campo{
    background-color: white;
    border-radius: 12px;
    margin: 1rem; 
}

.calendario{
    height: 100%;
    padding: 10px;
    width: 350px;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.agenda{
    padding: 1rem;
    width: 100%;
}



