<div class="nav-bar">
    <div class="container">
        <div class="container-logo">
            <img src="../../../assets/image/logo.png" alt="logo">
            <h3>Estudy</h3>
        </div>
        <div class="container-menu">
            <img src="../../../assets/image/gear.png" alt="gear" class="gear" (click)=controlPopUp()>
            <img src="../../../../assets/image/imagem-perfil.png" alt="foto" class="image-perfil">
        </div>
        <app-menu-nav [openPopUp]="openPopUp"></app-menu-nav>
    </div>
    
</div>