<div class="view-home">
    <header>
        <app-nav></app-nav>
        <div class="container-menu">
            <div class="box-menu">
                <img src="../../../assets/image/menu-hamburguer.png" alt="imagem-menu" id="menu" (click)="controlMenu()">
                <h2>Agenda</h2>
            </div>
        </div>
    </header>
     
    <div class="container-home">
            <app-menu *ngIf="isALiveMenu" [class.menu-responsive]="isALiveMenu" (menu)="controlMenu()"></app-menu>
            <div class="container_painel">
                <router-outlet></router-outlet>
            </div>
    </div>
</div>
