

@media (max-width: 830px){
    .container-menu{
        width: 100vw;
        height: 100%;
        box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.381);
        margin-right: 0;
        top: -119px;
        z-index: 9999;
    }

    .img-perfil{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: rgb(213, 213, 213);
        border: 5px solid  #007A78;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.405);
    }

    .perfil{
        width: 100%;
        flex-direction: row;
        justify-content: flex-start;
    }

    .img-perfil{
        margin-left: 2rem;
        margin-bottom: 0;
    }

    h3{
        padding-left: 0.8rem;
    }

    #exit{
        display: block;
        position: absolute;
        top: 35px;
        align-self: flex-start;
        width: 20px;
        height: 20px;
    }
}