
<div class="container-menu">
    <img src="../../../assets/image/menu-hamburguer-grey.png" alt="imagem-exit" id="exit" (click)="onMenu()">
    <div class="perfil">
        <img src="../../../assets/image/imagem-perfil.png" alt="image" class="img-perfil">
        <h3>{{ obj.userName }}</h3>
    </div>
    <div class="container-buttons">
        <button [routerLink]="'estudar'" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"> <img src="../../../assets/image/chapeu.png" alt="icone">Estudar</button>
        <button [routerLink]="'agenda'" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"> <img src="../../../assets/image/calendar.png" alt="icone">Agenda</button>
    </div>
</div>
