.container{
    display: flex;
    flex-direction: column;
    /* 
    grid-template-columns: 0.057fr 1fr;
    grid-template-areas: 'hours' 'list-hours'; */
}

h3{
    font-size: 18px;
    font-weight: 600;
    margin: 13px;
}

button{
    color: white;
    font-size: 0.9rem;
    border-radius: 4px;
    border: none;
    background-color: #007A78;
    padding: 0.3rem 1rem;
    float: right;
}
.hours{
    grid-area: 'hours';
}

.hours aside{
    margin: 13.46px 5px;
    font-size: 13.9px;
    color: grey;
}

.list-hours{
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 3px;
    grid-area: 'list-hours';
    
}

.list-hours li{
    position: relative;
    list-style: none;
    width: 100%;
    padding: 10px;
    border: 0.2px solid rgba(128, 128, 128, 0.605);
    border-radius: 5px;
}

.list-hours li:hover {
    scale: 1.01;
    border-color: rgba(82, 137, 90, 0.525);
    background-color: rgba(65, 90, 68, 0.115);
}

.category, .hour{
    float: right;
}

#delete_icon{
    display: inline;
    position: absolute;
    bottom: 10px;
}



@media (max-width: 500px){
    .list-hours li{
        padding: 13px 10px;
    }
}