/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



:root{
    --primary: #007A78;
    --body: #EEEEEE;
    --background: white;
    --text-header: #fff;
    --text-body: black;
    --text-secundary: #646464;
    --active-calendar: #D9EBEB;
    --header-notas: #D9EBEB;
}

:root .dark-theme{
    --primary: #3a5c5c;
    --body: #47494b;
    --background: #6e6e6e;
    --text-header: #fff;
    --text-body: #fff;
    --text-secundary: #f1f1f1;
    --active-calendar:#484a4a; 
    --header-notas: #618f8f;
}

body{
    background-color: var(--body);
}