/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



:root{
    --primary: #007A78;
    --body: #EEEEEE;
    --background: white;
    --text-header: #fff;
    --text-body: black;
    --text-secundary: #646464;
}

:root .dark-theme{
    --primary: #005958;
    --body: #4D4D4D;
    --background: #A0A0A0;
    --text-header: #fff;
    --text-body: #fff;
    --text-secundary: #f1f1f1;
}

body{
    background-color: var(--body);
}